<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Mon super blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
<header>
<h1>Mon super blog</h1>
</header>
{% block content %}
{% endblock %}
</body>
</html>
